.submit__button {
    width: 309px;
    height: 48px;
    color: rgba(181, 160, 141, 1);
    text-align: center;
    padding: 14px 0;
    border-radius: 4px;
    border: 2px solid #B5A08D;
    cursor: pointer;
}

.submit__button:hover {
    background-color: rgba(181, 160, 141, .3);
}