.content__button {
    font-family: 'Montserrat', sans-serif;
    width: 235px;
    height: 48px;
    white-space: nowrap;
    padding: 14px 20px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #B5A08D;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: opacity .5s linear;
}

.content__button:hover {
    opacity: .8;
}